<?php

return [
	'tr' => [
		'info' => [
			'name-global' => 'Turkish',
			'name-local' => 'Türkçe'
		],
		'langs' => [
			#'error' => 'Hata!'
		]
	],
	'en' => [
		'info' => [
			'name-global' => 'English',
			'name-local' => 'English'
		],
		'langs' => [
			#'error' => 'Error!'
		]
	]
];